<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlayStationOtomasyon.Properties.Settings.PlayStationOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-70CN17D;Initial Catalog=PlayStationOtomasyon;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>